streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu
sentence-transformers
pymupdf
pypdf
groq
python-dotenv
streamlit-mic-recorder
pytesseract
Pillow
requests
beautifulsoup4
pinecone-client
langchain-pinecone
