streamlit
langchain
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
pymupdf
pypdf
groq
python-dotenv
streamlit-mic-recorder
pytesseract
Pillow
pdf2image
tabula-py
requests
beautifulsoup4
